<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        {% for visit in object_list %}
        <li>
                <a href="{% url 'visit-detail' pk=visit.pk %}">
                  Name: <strong>{{ visit.name }}</strong> <br>
                  Date: <strong>{{ visit.date }} <br>
                  Reason: <strong>{{ visit.reason }} <br>
                  Room ID: {{ visit.room.id }}  <br>
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>